
.button {
  min-width: 180px;
}

form {
    padding-bottom: 20%;
}

body {
  /* background-color: #BBF9F5 */
  background-color: #ffffff
}

.main-div {
    padding: 5%;
    display: grid;
    /* grid-template-columns: 20% auto 20%; */
    grid-template-rows: 10% auto 10%;
    justify-content: space-around;
    min-height: 100vh;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.badge-pill {
      padding: 0.6em;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.list-group-item {
  display: flex;
  justify-content: space-around;
align-items: center;
position: initial;
min-height: auto;
width: 100%;
}

.list-group-item p {
  width: 60%;
}

.btn.btn-secondary {
  margin-top: 30px;
}