/* cyan: #BBF9F5 */
/* purple: #8416EB */

.button {
  min-width: 180px;
  max-width: 200px;
  margin-bottom: 10%;
  border-color: #8416eb;
  color: #8416eb;
  border-width: 2px;
}

form {
  padding-bottom: 20%;
}

body {
  background-color: #ffffff;
}

.app-container {
  padding-top: 5%;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 10% auto 10%;
  grid-template-areas:
    "h h h"
    ". c ."
    ". . .";
  justify-content: space-around;
  min-height: 100vh;
  /* background-color: #941818; */
}

.logo-container {
  grid-area: h;
}

.logo-title {
  justify-self: center;
  min-height: 100%;
  max-height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: c;
}

.badge-pill {
  padding: 0.6em;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-left: 15%;
}

.list-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 10px;
}

.list-group-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: initial;
  min-height: auto;
  width: 100%;
}

.list-group-item p {
  margin-top: 5%;
  margin-left: 1%;
  width: 95%;
}

.list-group-item button {
  max-width: 75%;
}

.answer-list-item {
  display: grid;
  grid-template-columns: 9% auto 20%;
  align-items: center;
  justify-items: center;
  justify-content: normal;
  position: initial;
  min-height: auto;
  width: 100%;
  padding: 0%;
}

.score-list-item {
  display: grid;
  grid-template-columns: 5% auto 15%;
  grid-template-rows: 20% 80%;
  align-items: center;
  justify-items: center;
  justify-content: normal;
  position: initial;
  min-height: auto;
  width: 100%;
  padding: 0%;
  padding-top: 8px;
}

.score-list-item p {
  margin-top: 0;
}

.score-name {
  margin: 0px;
  margin-top: 0;
  font-size: 13px;
  grid-column: 2 / 3;
  color: #8416eb;
}

.score-answer {
  margin: 0;
  margin-top: 0;
  grid-column: 2 / 3;
}

.score-points {
  margin: 0;
  margin-top: 0;
  align-self: center;
  justify-self: center;
  width: 50%;
  text-align: center;
}

.voting-button {
  height: 10vw;
  max-height: 50px;
}

.btn-secondary {
  color: #fff;
  background-color: #8416eb;
  border-color: #8416eb;
}

.btn.btn-secondary {
  margin-top: 30px;
}

.btn-group-vertical {
  min-width: 90%;
  margin-bottom: 15px;
}
